<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.creatinginvoicing">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CreatingInvoicing">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InvoicesListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddInvoiceActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ModifyInvoiceActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddInvoiceLineActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name=".AddItemActivity"

            android:label="@string/empty" />
        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name=".ModifyItemActivity"
            android:label="@string/empty" />

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name=".ModifyInvoiceLineActivity"
            android:label="@string/empty" />

        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name=".SearchByNumberActivity"
            android:label="@string/empty" />
        <activity android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:name=".SearchByDateActivity"
            android:label="@string/empty" />

    </application>

</manifest>